<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="page-wrapper">
        <nav class="navbar">
            <span class="navbar-brand mb-0 h1" style="width: 100%;">
                <div id="center" cclass="container text-center" style="text-align:center">
                    <a href="/" style="font-size: 100px; color: brown;">Garden Planer!</a>
                </div>
                <br>
                <div id="center" cclass="container text-center" style="text-align:center">
                <a href="/add" style="font-size: 70px; color: rgb(7, 207, 174);">Add a Plant.</a>
            </div>
            </span>
        </nav>